<ion-header>
  <ion-toolbar>
    <ion-title>{{ros.rosConnection ? 'Controller Selector' : 'Connect to server'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding *ngIf="!ros.rosConnection">
    <ion-item>
      <ion-label position="floating">Enter ROS Server IP</ion-label>
      <ion-input type="text" [(ngModel)]="ros.rosServerIP" placeholder="192.168.0.0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Enter ROS Server Port</ion-label>
      <ion-input type="text" [(ngModel)]="ros.rosServerPort" placeholder="9090"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Enter Robot's RPi IP</ion-label>
      <ion-input type="text" [(ngModel)]="ros.streamIP" placeholder="192.168.0.0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Enter Robot's RPi Port</ion-label>
      <ion-input type="text" [(ngModel)]="ros.streamPort" placeholder="8889"></ion-input>
    </ion-item>
    <ion-button (click)="connect()">
      <ion-icon slot="start" name="star"></ion-icon>
      Connect
    </ion-button>
  </div>

  <div padding *ngIf="ros.rosConnection">
    <ion-list>
      <ion-item-divider>
        <ion-label>
          Assign a control to this device:
        </ion-label>
      </ion-item-divider>
      <ion-item [routerLink]="['/head-movement-controller']" routerDirection="root">This device will be used in a VR
        Goggle.
      </ion-item>
      <ion-item [routerLink]="['/navigation-controller']" routerDirection="root">This device will be used as a
        navigation controller.
      </ion-item>
    </ion-list>
  </div>
</ion-content>