body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 1em;
  word-break: break-word;
  background-color: black;
}

div#container {
  margin: 0 auto 0 auto;
  max-width: 40em;
  padding: 1em 1.5em 1.3em 1.5em;
}

html {
  overflow-y: scroll;
}

video {
  background: #222;
  margin: 0 0 20px 0;
  width: 100%;
}

.center {
  margin: 8% 3%;
  width: 43.6%;
}