<ion-header>
  <ion-toolbar>
    <ion-title>navigation-controller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>

      <div *ngIf="navigationValues">
        <ion-item-divider>
          <ion-label>Navigation Values</ion-label>
        </ion-item-divider>
        <ion-item>x: {{navigationValues.x}}</ion-item>
        <ion-item>y: {{navigationValues.y}}</ion-item>
        <ion-item>z: {{navigationValues.z}}</ion-item>
      </div>
      
    </ion-list>
  </div>
</ion-content>
